<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: plugin.xml 2570 2007-11-29 10:47:44Z kiesssn $ -->
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CodeCover"
            id="org.codecover.eclipse.views.CodeCoverCategory">
      </category>
      <view
            category="org.codecover.eclipse.views.CodeCoverCategory"
            class="org.codecover.eclipse.views.TestSessionsView"
            icon="icons/test_session.gif"
            id="org.codecover.eclipse.views.TestSessionsView"
            name="Test Sessions"/>
      <view
            category="org.codecover.eclipse.views.CodeCoverCategory"
            class="org.codecover.eclipse.views.CoverageView"
            icon="icons/coverage_bar.gif"
            id="org.codecover.eclipse.views.CoverageView"
            name="Coverage"/>
      <view
            category="org.codecover.eclipse.views.CodeCoverCategory"
            class="org.codecover.eclipse.views.CorrelationView"
            icon="icons/calculate_correlation.gif"
            id="org.codecover.eclipse.views.CorrelationView"
            name="Correlation"/>
      <view
            category="org.codecover.eclipse.views.CodeCoverCategory"
            class="org.codecover.eclipse.views.BooleanAnalyzer"
            icon="icons/calculate_correlation.gif"
            id="org.codecover.eclipse.views.BooleanAnalyzer"
            name="Boolean Analyzer"/>
      <view
            category="org.codecover.eclipse.views.CodeCoverCategory"
            class="org.codecover.eclipse.views.LiveNotificationView"
            icon="icons/sample.gif"
            id="org.codecover.eclipse.views.LiveNotificationView"
            name="Live Notification"/>
      <view
            category="org.codecover.eclipse.views.CodeCoverCategory"
            class="org.codecover.eclipse.views.PickTestCaseView"
            icon="icons/test_case.gif"
            id="org.codecover.eclipse.views.PickTestCaseView"
            name="Pick Test Cases"/>
      <view
            category="org.codecover.eclipse.views.CodeCoverCategory"
            class="org.codecover.eclipse.views.CoverageGraphView"
            icon="icons/coverage_bar.gif"
            id="org.codecover.eclipse.views.CoverageGraphView"
            name="Coverage Graph"/>
      <view
            category="org.codecover.eclipse.views.CodeCoverCategory"
            class="org.codecover.eclipse.views.RedundancyGraphView"
            icon="icons/calculate_correlation.gif"
            id="org.codecover.eclipse.views.RedundancyGraphView"
            name="Redundancy Graph"/>
      <view
            category="org.codecover.eclipse.views.CodeCoverCategory"
            class="org.codecover.eclipse.views.ManualRedundancyView"
            icon="icons/calculate_correlation.gif"
            id="org.codecover.eclipse.views.ManualRedundancyView"
            name="Manual Redundancy"/>
      <view
            category="org.codecover.eclipse.views.CodeCoverCategory"
            class="org.codecover.eclipse.views.RecommendationsView"
            icon="icons/sample.gif"
            id="org.codecover.eclipse.views.RecommendationsView"
            name="RecommendationsView">
      </view>
   </extension>
   <extension
         id="org.codecover.eclipse.popup"
         point="org.eclipse.ui.popupMenus">
     <objectContribution
            id="org.codecover.eclipse.popupIJavaElement"
            objectClass="org.eclipse.jdt.core.IJavaElement">
     <visibility>
      <or>
         <objectClass
            name="org.eclipse.jdt.core.ICompilationUnit"/>
         <objectClass
            name="org.eclipse.jdt.core.IPackageFragment"/>
      </or>
    </visibility>
          <action
               class="org.codecover.eclipse.actions.UseForCoverageMeasurementActionDelegate"
               id="org.codecover.eclipse.actions.useForCoverageMeasurement"
               label="Use For Coverage Measurement"
               menubarPath="additions"
               state="true"
               style="toggle"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.codecover.eclipse.views.UseForCoverageMeasurementDecorator"
            id="org.codecover.eclipse.useForCoverageMeasurementDecorator"
            label="CodeCover"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.codecover.eclipse.importWizards.CodeCoverCategory"
            name="CodeCover"/>
      <wizard
            category="org.codecover.eclipse.importWizards.CodeCoverCategory"
            class="org.codecover.eclipse.importWizards.TSCImportWizard"
            icon="icons/test_session_container.gif"
            id="org.codecover.eclipse.importWizards.TSCImportWizard"
            name="Test Session Container">
         <description>
            Import a Test Session Container from the local file system into a project.
         </description>
      </wizard>
      <wizard
            category="org.codecover.eclipse.importWizards.CodeCoverCategory"
            class="org.codecover.eclipse.importWizards.CoverageLogImportWizard"
            icon="icons/coverage_log.gif"
            id="org.codecover.eclipse.importWizards.CoverageLogImportWizard"
            name="Coverage Log">
         <description>
            Import a Coverage Log from the local file system.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="org.codecover.eclipse.builder.CodeCoverCompilationParticipant"
            id="CodeCover Eclipse.compilationParticipant">
      </compilationParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.codecover.eclipse.exportWizards.CodeCoverCategory"
            name="CodeCover"/>
      <wizard
            category="org.codecover.eclipse.exportWizards.CodeCoverCategory"
            class="org.codecover.eclipse.exportWizards.ReportExportWizard"
            icon="icons/sample.gif"
            id="org.codecover.eclipse.exportWizards.ReportExportWizard"
            name="Coverage Result Export">
      <description>
            Export the coverage results of a test session.
         </description>
      </wizard>
   </extension>


   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification annotationType="org.codecover.eclipse.annotation.lineExecutionAnnotation"
            annotationImageProvider="org.codecover.eclipse.annotation.hotpath.LineExecutionImageProvider"
            colorPreferenceKey="lineexecution_color"
            colorPreferenceValue="30,30,30"
            contributesToHeader="false"
            highlightPreferenceKey="lineexecution_highlight"
            highlightPreferenceValue="false"
            includeOnPreferencePage="false"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="lineexecution_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="lineexecution_isGoToPreviousNavigationTargetKey"
            label="%lineexecutionAnnotation.label"
            overviewRulerPreferenceKey="lineexecution_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="lineexecution_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="lineexecution_text"
            textPreferenceValue="false"
            textStylePreferenceKey="lineexecution_stylePreferences"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="lineexecution_verticalRuler"
            verticalRulerPreferenceValue="true"/>
            
       <specification
            annotationType="org.codecover.eclipse.annotation.fullCoverageOtherAnnotation"
            colorPreferenceKey="fullcoverageother_color"
            colorPreferenceValue="45,250,0"
            contributesToHeader="false"
            highlightPreferenceKey="fullcoverageother_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerfull.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverageother_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="fullcoverageother_isGoToPreviousNavigationTargetKey"
            label="%fullCoverageOtherAnnotation.label"
            overviewRulerPreferenceKey="fullcoverageother_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverageother_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="fullcoverageother_text"
            textPreferenceValue="true"
            textStylePreferenceKey="fullcoverageother_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="fullcoverageother_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="org.codecover.eclipse.annotation.partialCoverageOtherAnnotation"
            colorPreferenceKey="partialcoverageother_color"
            colorPreferenceValue="255,255,0"
            contributesToHeader="false"
            highlightPreferenceKey="partialcoverageother_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerpartial.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverageother_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="partialcoverageother_isGoToPreviousNavigationTargetKey"
            label="%partialCoverageOtherAnnotation.label"
            overviewRulerPreferenceKey="partialcoverageother_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverageother_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="partialcoverageother_text"
            textPreferenceValue="true"
            textStylePreferenceKey="partialcoverageother_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="partialcoverageother_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="org.codecover.eclipse.annotation.noCoverageOtherAnnotation"
            colorPreferenceKey="nocoverageother_color"
            colorPreferenceValue="255,48,0"
            contributesToHeader="false"
            highlightPreferenceKey="nocoverageother_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerno.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="nocoverageother_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="nocoverageother_isGoToPreviousNavigationTargetKey"
            label="%noCoverageOtherAnnotation.label"
            overviewRulerPreferenceKey="nocoverageother_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="nocoverageother_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="nocoverageother_text"
            textPreferenceValue="true"
            textStylePreferenceKey="nocoverageother_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="nocoverageother_verticalRuler"
            verticalRulerPreferenceValue="false"/>


       <specification
            annotationType="org.codecover.eclipse.annotation.fullCoverageStatementAnnotation"
            colorPreferenceKey="fullcoveragestatement_color"
            colorPreferenceValue="45,250,0"
            contributesToHeader="false"
            highlightPreferenceKey="fullcoveragestatement_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerfull.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoveragestatement_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="fullcoveragestatement_isGoToPreviousNavigationTargetKey"
            label="%fullCoverageStatementAnnotation.label"
            overviewRulerPreferenceKey="fullcoveragestatement_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoveragestatement_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="fullcoveragestatement_text"
            textPreferenceValue="true"
            textStylePreferenceKey="fullcoveragestatement_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="fullcoveragestatement_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="org.codecover.eclipse.annotation.partialCoverageStatementAnnotation"
            colorPreferenceKey="partialcoveragestatement_color"
            colorPreferenceValue="255,255,0"
            contributesToHeader="false"
            highlightPreferenceKey="partialcoveragestatement_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerpartial.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoveragestatement_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="partialcoveragestatement_isGoToPreviousNavigationTargetKey"
            label="%partialCoverageStatementAnnotation.label"
            overviewRulerPreferenceKey="partialcoveragestatement_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoveragestatement_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="partialcoveragestatement_text"
            textPreferenceValue="true"
            textStylePreferenceKey="partialcoveragestatement_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="partialcoveragestatement_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="org.codecover.eclipse.annotation.noCoverageStatementAnnotation"
            colorPreferenceKey="nocoveragestatement_color"
            colorPreferenceValue="255,48,0"
            contributesToHeader="false"
            highlightPreferenceKey="nocoveragestatement_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerno.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="nocoveragestatement_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="nocoveragestatement_isGoToPreviousNavigationTargetKey"
            label="%noCoverageStatementAnnotation.label"
            overviewRulerPreferenceKey="nocoveragestatement_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="nocoveragestatement_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="nocoveragestatement_text"
            textPreferenceValue="true"
            textStylePreferenceKey="nocoveragestatement_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="nocoveragestatement_verticalRuler"
            verticalRulerPreferenceValue="false"/>


       <specification
            annotationType="org.codecover.eclipse.annotation.fullCoverageBranchAnnotation"
            colorPreferenceKey="fullcoveragebranch_color"
            colorPreferenceValue="45,250,0"
            contributesToHeader="false"
            highlightPreferenceKey="fullcoveragebranch_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerfull.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoveragebranch_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="fullcoveragebranch_isGoToPreviousNavigationTargetKey"
            label="%fullCoverageBranchAnnotation.label"
            overviewRulerPreferenceKey="fullcoveragebranch_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoveragebranch_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="fullcoveragebranch_text"
            textPreferenceValue="true"
            textStylePreferenceKey="fullcoveragebranch_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="fullcoveragebranch_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="org.codecover.eclipse.annotation.partialCoverageBranchAnnotation"
            colorPreferenceKey="partialcoveragebranch_color"
            colorPreferenceValue="255,255,0"
            contributesToHeader="false"
            highlightPreferenceKey="partialcoveragebranch_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerpartial.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoveragebranch_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="partialcoveragebranch_isGoToPreviousNavigationTargetKey"
            label="%partialCoverageBranchAnnotation.label"
            overviewRulerPreferenceKey="partialcoveragebranch_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoveragebranch_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="partialcoveragebranch_text"
            textPreferenceValue="true"
            textStylePreferenceKey="partialcoveragebranch_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="partialcoveragebranch_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="org.codecover.eclipse.annotation.noCoverageBranchAnnotation"
            colorPreferenceKey="nocoveragebranch_color"
            colorPreferenceValue="255,48,0"
            contributesToHeader="false"
            highlightPreferenceKey="nocoveragebranch_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerno.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="nocoveragebranch_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="nocoveragebranch_isGoToPreviousNavigationTargetKey"
            label="%noCoverageBranchAnnotation.label"
            overviewRulerPreferenceKey="nocoveragebranch_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="nocoveragebranch_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="nocoveragebranch_text"
            textPreferenceValue="true"
            textStylePreferenceKey="nocoveragebranch_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="nocoveragebranch_verticalRuler"
            verticalRulerPreferenceValue="false"/>


       <specification
            annotationType="org.codecover.eclipse.annotation.fullCoverageLoopAnnotation"
            colorPreferenceKey="fullcoverageloop_color"
            colorPreferenceValue="45,250,0"
            contributesToHeader="false"
            highlightPreferenceKey="fullcoverageloop_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerfull.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverageloop_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="fullcoverageloop_isGoToPreviousNavigationTargetKey"
            label="%fullCoverageLoopAnnotation.label"
            overviewRulerPreferenceKey="fullcoverageloop_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverageloop_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="fullcoverageloop_text"
            textPreferenceValue="true"
            textStylePreferenceKey="fullcoverageloop_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="fullcoverageloop_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="org.codecover.eclipse.annotation.partialCoverageLoopAnnotation"
            colorPreferenceKey="partialcoverageloop_color"
            colorPreferenceValue="255,255,0"
            contributesToHeader="false"
            highlightPreferenceKey="partialcoverageloop_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerpartial.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverageloop_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="partialcoverageloop_isGoToPreviousNavigationTargetKey"
            label="%partialCoverageLoopAnnotation.label"
            overviewRulerPreferenceKey="partialcoverageloop_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverageloop_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="partialcoverageloop_text"
            textPreferenceValue="true"
            textStylePreferenceKey="partialcoverageloop_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="partialcoverageloop_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="org.codecover.eclipse.annotation.noCoverageLoopAnnotation"
            colorPreferenceKey="nocoverageloop_color"
            colorPreferenceValue="255,48,0"
            contributesToHeader="false"
            highlightPreferenceKey="nocoverageloop_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerno.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="nocoverageloop_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="nocoverageloop_isGoToPreviousNavigationTargetKey"
            label="%noCoverageLoopAnnotation.label"
            overviewRulerPreferenceKey="nocoverageloop_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="nocoverageloop_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="nocoverageloop_text"
            textPreferenceValue="true"
            textStylePreferenceKey="nocoverageloop_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="nocoverageloop_verticalRuler"
            verticalRulerPreferenceValue="false"/>


       <specification
            annotationType="org.codecover.eclipse.annotation.fullCoverageConditionAnnotation"
            colorPreferenceKey="fullcoveragecondition_color"
            colorPreferenceValue="45,250,0"
            contributesToHeader="false"
            highlightPreferenceKey="fullcoveragecondition_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerfull.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoveragecondition_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="fullcoveragecondition_isGoToPreviousNavigationTargetKey"
            label="%fullCoverageConditionAnnotation.label"
            overviewRulerPreferenceKey="fullcoveragecondition_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoveragecondition_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="fullcoveragecondition_text"
            textPreferenceValue="true"
            textStylePreferenceKey="fullcoveragecondition_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="fullcoveragecondition_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="org.codecover.eclipse.annotation.partialCoverageConditionAnnotation"
            colorPreferenceKey="partialcoveragecondition_color"
            colorPreferenceValue="255,255,0"
            contributesToHeader="false"
            highlightPreferenceKey="partialcoveragecondition_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerpartial.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoveragecondition_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="partialcoveragecondition_isGoToPreviousNavigationTargetKey"
            label="%partialCoverageConditionAnnotation.label"
            overviewRulerPreferenceKey="partialcoveragecondition_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoveragecondition_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="partialcoveragecondition_text"
            textPreferenceValue="true"
            textStylePreferenceKey="partialcoveragecondition_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="partialcoveragecondition_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="org.codecover.eclipse.annotation.noCoverageConditionAnnotation"
            colorPreferenceKey="nocoveragecondition_color"
            colorPreferenceValue="255,48,0"
            contributesToHeader="false"
            highlightPreferenceKey="nocoveragecondition_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerno.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="nocoveragecondition_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="nocoveragecondition_isGoToPreviousNavigationTargetKey"
            label="%noCoverageConditionAnnotation.label"
            overviewRulerPreferenceKey="nocoveragecondition_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="nocoveragecondition_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="nocoveragecondition_text"
            textPreferenceValue="true"
            textStylePreferenceKey="nocoveragecondition_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="nocoveragecondition_verticalRuler"
            verticalRulerPreferenceValue="false"/>

   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="org.codecover.eclipse.builder.CodeCoverClasspathProvider"
            id="CodeCoverClasspathProvider"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.codecover.eclipse.builder.CodeCoverTab"
            group="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.localJavaApplication"
            id="org.codecover.eclipse.builder.codeCoverTab"
            name="CodeCover Tab">
      </tab>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.codecover.eclipse.preferences.PreferencePageRoot"
            id="org.codecover.eclipse.preferences.PreferencePageRoot"
            name="CodeCover">
      </page>
      <page
            category="org.codecover.eclipse.preferences.PreferencePageRoot"
            class="org.codecover.eclipse.preferences.HotPathPreferencePage"
            id="org.codecover.eclipse.preferences.HotPathPreferencePage"
            name="Hot Path">
      </page>
      <page
            category="org.codecover.eclipse.preferences.PreferencePageRoot"
            class="org.codecover.eclipse.preferences.CorrelationMatrixPreferencePage"
            id="org.codecover.eclipse.preferences.CorrelationMatrixPreferencePage"
            name="Correlation Matrix">
      </page>
      <page
            category="org.codecover.eclipse.preferences.PreferencePageRoot"
            class="org.codecover.eclipse.preferences.PluginDirectoryPreferencePage"
            id="org.codecover.eclipse.preferences.PluginDirectoryPreferencePage"
            name="Plugin Directory">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.codecover.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.codecover.eclipse.properties.CodeCoverPropertyPage"
            id="org.codecover.eclipse.properties.iproject"
            name="CodeCover"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
            <filter name="nature" value="org.eclipse.jdt.core.javanature"/>
      </page>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus"> 
      <viewerContribution 
         id="org.codecover.eclipse.actions.AnalyzeRootTermActionDelegate1"
         targetID="#CompilationUnitEditorContext"> 
         <action
            id="org.codecover.eclipse.actions.AnalyzeRootTermActionDelegate2" 
            label="Analyze Term"
            menubarPath="additions"
            class="org.codecover.eclipse.actions.AnalyzeRootTermActionDelegate"> 
         </action> 
      </viewerContribution> 
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.codecover.eclipse.junit.JUnitLaunchConfigurationDelegate"
            delegateDescription="Runs JUnit tests and measures the coverage"
            delegateName="CodeCover JUnit Runner"
            id="org.codecover.eclipse.junit.launchconfig"
            migrationDelegate="org.eclipse.jdt.internal.junit.launcher.JUnitMigrationDelegate"
            modes="run"
            name="CodeCover Measurement For JUnit"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.codecover.eclipse.junit.launchconfig"
            icon="icons/coverage_bar.gif"
            id="org.codecover.eclipse.junit.launchimage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.codecover.eclipse.junit.JUnitTabGroup"
            helpContextId="org.eclipse.jdt.junit.junit_tab_group"
            id="org.codecover.eclipse.junit.tabgroups"
            type="org.codecover.eclipse.junit.launchconfig">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="CodeCover Measurement For JUnit"
            icon="icons/coverage_bar.gif"
            class="org.codecover.eclipse.junit.JUnitLaunchShortcut"
            modes="run"
            id="org.codecover.eclipse.junit.junitShortCut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <adapt type="org.eclipse.jdt.core.IJavaElement">
                                <test property="org.eclipse.jdt.core.isInJavaProject"/>
                                <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
                                <test property="org.eclipse.jdt.junit.canLaunchAsJUnit" forcePluginActivation="true"/>
                                <test property="org.codecover.eclipse.isCodeCoverActivated" forcePluginActivation="true"/>
                             </adapt>
                          </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
         <configurationType
               id="org.eclipse.jdt.junit.launchconfig">
         </configurationType>
         <description
               description="CodeCover JUnitLaunchShortcut Run"
               mode="run">
         </description>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.codecover.eclipse.CodeCoverPropertyTester"
            id="org.codecover.eclipse.codecoverPropertyTester"
            namespace="org.codecover.eclipse"
            properties="isCodeCoverActivated"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.codecover.eclipse.perspectives.CodeCoverPerspective"
            icon="icons/coverage_bar.gif"
            id="org.codecover.eclipse.perspectives.CodeCoverPerspective"
            name="CodeCover">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.codecover.eclipse.views.RecommendationsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
</plugin>
